/**
 * Layout using vgrid
 */

/**
 * Variables
 */

 @bgColorOuterWrap: white;
 @bgColorInnerWrap: white;

 /**
 * General layout
 */

.row {
    #desinax-vgrid.row();
    margin-bottom: 24px;
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
    background-color: @bgColorInnerWrap;
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

.next-previous {
    & a, a:visited {
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.next {
    text-align: right;
    float: right;
}

.figure {
    padding: 0;
    margin: 0;
    display: table;
    &.left {
        float: left;
        margin-right: 8px;
    }
    &.right {
        float: right;
        margin-left: 8px;
    }
    & figcaption {
        display: table-caption;
        caption-side: bottom;
        text-align: center;
        & p {
            margin-top: 0;
        }
    }
}

/**
 * Regions
 */

.region-flash-message {
    #desinax-vgrid.column(@columns);
}

/**
 * Misc
 */
.site-logo {
    display: none;
}
