/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

@bgColorInnerWrap: white;

/**
 * General layout
 */
.inner-wrap {
    max-width: 900px;
    margin: 5px auto;
    background-color: @bgColorInnerWrap;
}

///* Hide submenu, leave this to kmom02 */
//display: none;
//    .rm-desktop ul {
//}

///* Hide responsive/mobile menu, leave this to kmom02 */
//.rm-navbar-max {
//    display: none;
//}