/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

/**
 *  Navbar
 */
@media screen and (max-width: 830px) {
    .rm-desktop a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media screen and (max-width: 690px) {
    .rm-desktop {
        display: none;
    }
}